*{
  margin: 0;
  padding: 0;
}

body{
  background: hsla(30, 71%, 84%, 0.842);
  /* background-color: red; */
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@300&display=swap'); */

/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto:wght@300&display=swap'); */

/* @font-face {
  font-family: 'Open Sans';
  src: url("../public/fonts/OpenSans-Light.ttf");
} */

.home-main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column ;
  /* background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;  */
}

.header {
  width: 100%;
  height: 15vh;
  /* background: rgba(255, 255, 255, 0.329); */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.homeAndCities-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 450px;
  font-size: 25px;
  color: white;
  /* background: green; */
}

.homeAndCities-container > * {
  padding-left: 20px;
  text-decoration: none;
  color: white;
  font-family: 'Open Sans', sans-serif;
} 

.homeAndCities-container > *:hover {
  color: rgb(250, 233, 233);
} 

.logo-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: auto;
  /* background: red; */
}


.logo-text {
  font-family: 'Blinker', sans-serif;
  color: white;
}


.link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.login-section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 400px;
  font-size: 25px;
  color: white;
  /* background: yellow; */
}

.login-section > * {
  color: white;
  text-decoration: none;
  padding-left: 10px;
  font-family: 'Open Sans', sans-serif;
}

.login-section > *:hover {
  color: white;
}

.unlogged-icon:hover{
  cursor: pointer;
}




.hero-container {
  width: 100%;
  height: 7vh;
  background: #eddcdc7e;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
}

.hero-text{
  font-size: 28px;
  font-family: 'Open Sans', sans-serif;
  /* font-family: 'Roboto', sans-serif; */
}

.callToAction-mainContainer{
  width: 100%;
  height: 50vh;
  display: flex;
  align-items: flex-end;
  flex-grow: 1;
  /* background:red; */
}

.callToAction-container{
  width: 100%;
  height: 17vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* flex-grow: 1; */
  /* margin-top: 40vh; */
}

.ClickHere-button {
  display: flex;
  /* width: 200px; */
  padding: 10px 20px;
  border: 4px solid black;
  border-radius: 10px;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  transition: all .2s ease;
}

.ClickHere-button:hover {
  cursor: pointer;
  background: #eddcdc7e;
  padding: 10px 30px;
}

.ClickHere-button-text{
  text-decoration: none;
  color: black;
}

.ClickHere-button-text:hover{
  color: black;
  text-decoration: none;
}

.callToAction-text {
  font-size: 35px;
  margin-top: 10px;
  font-family: 'Open Sans', sans-serif;
}





.slide-tittle-container {
  margin-top: 10vh;
  /* background: rgba(255, 0, 0, 0.404); */
  width: 100%;
  display: flex;
  justify-content: center;
  /* background: #dfb898a8; */

}

.slide-tittle {
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
  text-decoration: underline;
  
}


.slider {
  position: relative;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background: #dfb898a8; */

  /* background: rgba(0, 128, 0, 0.233); */
}

.image {
  width:1000px;
  height: 800px;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s ;
  transform: scale(1.08);
  border-radius: 60px;
}

.slides-section-container {
  display: flex;
}

.slide-container{
  width: 50vw;
  height: 50vh;
  position: relative;
  /* background: red; */
  /* display: flex; */
  /* align-items: center; */
  /* margin: 0 auto; */
  /* margin-bottom: 10px; */
}

.responsive-slide-container{
  width: 45vw;
  height: 45vh;
  display: none;
}

.responsive-carrousel {
  display: none;
}

.card{
  width: 100%;
  height: 100%;
  margin: 0 auto;
  margin-bottom: 20vh;
  display: flex;
  align-items: center;
}

.card1 {
  width: 49%;
  height: 49%;
  background: red;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 10px;
}

.card2 {
  width: 49%;
  height: 49%;
  background: yellow;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
}

.card3 {
  width: 49%;
  height: 49%;
  background: orange;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
}

.card4 {
  width: 49%;
  height: 49%;
  background: pink;
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
}

.location-name-container{
  width: 100%;
  height: 20%;
  background: rgba(0, 0, 0, 0.616);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}




/* Footer */

.footer-container {
  margin-top: 20vh;
  width: 100%;
  height: 45vh;
  background: rgba(255, 255, 0, 0.466);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top-section{
  width: 100%;
  height: 40%;
  background: rgb(0, 128, 0);
  flex-grow: 1;
  display: flex;
}

.bottom-section{
  width: 100%;
  height: 13%;
  background: grey;
  border-top: 4px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  }

.invitacion-to-visit {
  width: 40%;
  height: 100%;
  background: #6c8294;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.invitacion-to-visit >h2 {
  font-size: 40px;
  font-family: 'Open Sans', sans-serif;
}

.invitacion-to-visit > p{
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
}

.black-bar {
  width: 3%;
  height: 100%;
  background: black;
}

.new-callToAction-container {
  width: 40%;
  height: 100%;
  background: #e3aa7a;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  /* border-bottom: 50px solid black; */
}

.new-callToAction{
  /* background: yellow; */
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;

}

.new-callToAction >h2 {
  font-size: 45px;
  font-family: 'Open Sans', sans-serif;
}

.new-callToAction>p{
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
  /* text-align: center; */
}

.credits{
  font-size: 20px;
  margin-left: 10%;
  /* align-self: flex-end; */
  color: rgb(58, 58, 58);
  font-family: 'Open Sans', sans-serif;
}

.icon-container {
  width: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20% ;
}

.icon {
  width: 40px;
  cursor: pointer;
}

.header-responsive{
  display: none;
}

.responsive-footer-container{
  display: none;
}

/* Cities */

.cities-page-tittle-container {
  margin-top: 5vh;
  /* background: green; */
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/* .cityCard-container{
  width: 40vw;
  height: 32vh;
  margin: 15px 15px;
  border-radius: 15px;
  background-position: center;
  background-size: cover;
  border: 1px solid black;
} */

.cityCard-container:hover{
  cursor: pointer;
  width: 50vw;
  margin: 10px 10px;
}

.cityName-container {
  background: rgba(0, 0, 0, 0.445);
  height: 60px;
  display: flex;
  align-items: center;
  justify-content:center;
  margin-top: 10%;
  
}

/* Cities page */

.citiesPage-footerContainer{
  width: 100%;
  height: 10vh;
  /* flex-grow: 1; */
}

.citiesPage-footer{
  width: 100%;
  height: 10vh;
  margin-top: 10vh;
  background: black;
  display: flex;
  align-self: flex-end;
  align-items: center;
  justify-content: center;
  /* position: absolute;  */
  /* bottom: 0; */
}



@media (max-width: 1200px){

  .complete-carrousel{
    /* background: green; */
    display: none;
  }

  .responsive-carrousel {
    display: flex;
    background:red;
    margin-top: 20vh;
  }

  .responsive-slide-container{
    display: flex;
    margin-right: 1vw;
  }

  .responsive-footer-container{
    display: block;
    height: 300vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .homeAndCities-container {
    display: flex;
    justify-content: center;
    /* background: green; */
    /* color: red; */
  }

  .login-section {
    display: flex;
    justify-content: center;
  }

  .invitacion-to-visit >h2 {
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
  }
  
  .invitacion-to-visit > p{
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
  }
}


@media (max-width: 900px) {



  .header{
    display: none;
  }

  .header-responsive{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .logo-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 80px;
  }

  .logo-text {
    font-size: 15px;
  }

  .hero-container {
    height: 150px;
    display: flex;
    align-items: center;
  }

  .hero-text {
    font-size: 25px;
    text-align: center;
    padding: 0 25px;
  }

  .ClickHere-button {
    display: flex;
    padding: 5px 10px;
    border: 4px solid black;
    border-radius: 10px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    transition: all .2s ease;
  }

  .plane-icon{
    display: none;
  }

  .callToAction-text {
    font-size: 25px;
    text-align: center;
  }

  .icon-container {
    margin: 0 auto;
  }

  .icon {
    width: 25px;
    margin-right: 10px;
  }

  .credits{
    font-size: 13px;
    display: none;
  }
  
  .map {
    display: none;
  }

  .new-callToAction>h2{
    font-size: 20px;
  }

  .new-callToAction>p{
    font-size: 20px;
  }
  
}

@media (max-width: 600px) {
  .slide-container{
    width: 70vw;
    height: 70vh;
    position: relative;
    /* padding-bottom: 30vh; */
  }
  
  .card{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    margin-bottom: 20vh;
    display: flex;
    align-items: center;
  }
}


@media (max-width: 350px) {
  .callToAction-text {
    font-size: 20px;
    text-align: center;
    /* background: green; */
    /* font-size: 35px;
    margin-top: 10px;
    font-family: 'Open Sans', sans-serif; */
  }
}


