*{
  margin: 0;
  padding: 0;
}

body{
  background: hsla(30, 71%, 84%, 0.842);
  /* background-color: red; */
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@300&display=swap'); */

/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto:wght@300&display=swap'); */

/* @font-face {
  font-family: 'Open Sans';
  src: url("../public/fonts/OpenSans-Light.ttf");
} */

.home-main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column ;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover; 
}

.header {
  width: 100%;
  height: 15vh;
  /* background: rgba(255, 255, 255, 0.329); */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.homeAndCities-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 450px;
  font-size: 25px;
  color: white;
  /* background: green; */
}

.homeAndCities-container > * {
  padding-left: 20px;
  text-decoration: none;
  color: white;
  font-family: 'Open Sans', sans-serif;
} 

.homeAndCities-container > *:hover {
  color: rgb(250, 233, 233);
} 

.logo-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: auto;
  /* background: red; */
}


.logo-text {
  font-family: 'Blinker', sans-serif;
  color: white;
}


.link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.login-section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 400px;
  font-size: 25px;
  color: white;
  /* background: yellow; */
}

.login-section > * {
  color: white;
  text-decoration: none;
  padding-left: 10px;
  font-family: 'Open Sans', sans-serif;
}

.login-section > *:hover {
  color: white;
}

.unlogged-icon:hover{
  cursor: pointer;
}




.hero-container {
  width: 100%;
  height: 7vh;
  background: #eddcdc7e;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
}

.hero-text{
  font-size: 28px;
  font-family: 'Open Sans', sans-serif;
  /* font-family: 'Roboto', sans-serif; */
}

.callToAction-mainContainer{
  width: 100%;
  height: 50vh;
  display: flex;
  align-items: flex-end;
  flex-grow: 1;
  /* background:red; */
}

.callToAction-container{
  width: 100%;
  height: 17vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* flex-grow: 1; */
  /* margin-top: 40vh; */
}

.ClickHere-button {
  display: flex;
  /* width: 200px; */
  padding: 10px 20px;
  border: 4px solid black;
  border-radius: 10px;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  transition: all .2s ease;
}

.ClickHere-button:hover {
  cursor: pointer;
  background: #eddcdc7e;
  padding: 10px 30px;
}

.ClickHere-button-text{
  text-decoration: none;
  color: black;
}

.ClickHere-button-text:hover{
  color: black;
  text-decoration: none;
}

.callToAction-text {
  font-size: 35px;
  margin-top: 10px;
  font-family: 'Open Sans', sans-serif;
}





.slide-tittle-container {
  margin-top: 10vh;
  /* background: rgba(255, 0, 0, 0.404); */
  width: 100%;
  display: flex;
  justify-content: center;
  /* background: #dfb898a8; */

}

.slide-tittle {
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
  text-decoration: underline;
  
}


.slider {
  position: relative;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background: #dfb898a8; */

  /* background: rgba(0, 128, 0, 0.233); */
}

.image {
  width:1000px;
  height: 800px;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s ;
  transform: scale(1.08);
  border-radius: 60px;
}

.slides-section-container {
  display: flex;
}

.slide-container{
  width: 50vw;
  height: 50vh;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.responsive-slide-container{
  width: 45vw;
  height: 45vh;
  display: none;
}

.responsive-carrousel {
  display: none;
}

.card{
  width: 100%;
  height: 100%;
  margin: 0 auto;
  margin-bottom: 20vh;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card1 {
  width: 49%;
  height: 49%;
  background: red;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card2 {
  width: 49%;
  height: 49%;
  background: yellow;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card3 {
  width: 49%;
  height: 49%;
  background: orange;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card4 {
  width: 49%;
  height: 49%;
  background: pink;
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.location-name-container{
  width: 100%;
  height: 20%;
  background: rgba(0, 0, 0, 0.616);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

.no-match-poster{
  height: 40vh;
  margin: 10vh auto 0vh auto;
  border-radius: 10px;
  width: 80%;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center
}



/* Footer */

.footer-container {
  margin-top: 20vh;
  width: 100%;
  height: 45vh;
  background: rgba(255, 255, 0, 0.466);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top-section{
  width: 100%;
  height: 40%;
  background: rgb(0, 128, 0);
  flex-grow: 1;
  display: flex;
}

.bottom-section{
  width: 100%;
  height: 13%;
  background: grey;
  border-top: 4px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  }

.invitacion-to-visit {
  width: 40%;
  height: 100%;
  background: #6c8294;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.invitacion-to-visit >h2 {
  font-size: 40px;
  font-family: 'Open Sans', sans-serif;
}

.invitacion-to-visit > p{
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
}

.black-bar {
  width: 3%;
  height: 100%;
  background: black;
}

.new-callToAction-container {
  width: 40%;
  height: 100%;
  background: #e3aa7a;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  /* border-bottom: 50px solid black; */
}

.new-callToAction{
  /* background: yellow; */
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;

}

.new-callToAction >h2 {
  font-size: 45px;
  font-family: 'Open Sans', sans-serif;
}

.new-callToAction>p{
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
  /* text-align: center; */
}

.credits{
  font-size: 20px;
  margin-left: 10%;
  /* align-self: flex-end; */
  color: rgb(58, 58, 58);
  font-family: 'Open Sans', sans-serif;
}

.icon-container {
  width: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20% ;
}

.icon {
  width: 40px;
  cursor: pointer;
}

.header-responsive{
  display: none;
}

.responsive-footer-container{
  display: none;
}

/* Cities */

.cities-page-tittle-container {
  margin-top: 5vh;
  margin-bottom: 5vh;
  /* background: green; */
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.cityCard-container{
  width: 40vw;
  height: 32vh;
  margin: 15px 15px;
  border-radius: 15px;
  background-position: center;
  background-size: cover;
  border: 1px solid black;
}

.cityCard-container:hover{
  cursor: pointer;
  /* width: 50vw; */
  /* margin: 10px 10px; */
}

.cityName-container {
  background: rgba(0, 0, 0, 0.445);
  height: 60px;
  display: flex;
  align-items: center;
  justify-content:center;
  margin-top: 10%;
  
}

/* Cities page */

.citiesPage-footerContainer{
  width: 100%;
  height: 10vh;
  /* flex-grow: 1; */
}

.citiesPage-footer{
  width: 100%;
  height: 10vh;
  margin-top: 10vh;
  background: black;
  display: flex;
  align-self: flex-end;
  align-items: center;
  justify-content: center;
  /* position: absolute;  */
  /* bottom: 0; */
}

.no-match-text1{
  font-size: 50px;
  text-align: center;
}

.no-match-text2{
  font-size: 30px;
  text-align: center;
}





/* itinerary Tittle page */

.itinerary-tittle-container{
  width: 80%;
  height: 40vh;
  margin: 0 auto;
  margin-top: 5vh;
  text-align: center;
  background-size: cover;
  background-position: center;
}

.itinerary-tittle-text-container{
  width: 100%;
  height: 10vh;
  background: rgba(0, 0, 0, 0.383);
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome-to-itinerary {
  font-size: 45px;
  color: white;
  text-align: center;
}

.site-under-construction-container{
  width: 50vw;
  height: 50vh;
  margin: 20vh auto;
  border-radius: 20px;
}

.underConstruction-image {
  width: 100%;
  border-radius: 50px;
}

.backToCities-button-container{
  margin: 10vh auto;
  width: 270px;
  display: flex;
  /* justify-content: center; */
  padding: 5px 10px;
  border: 4px solid black;
  border-radius: 10px;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  transition: all .2s ease;
}

.backToCities-button-container:hover{  
  cursor: pointer;
  background: #eddcdc7e;
  padding: 10px 30px;
}

.main-input {
  width: 15vw;
  height: 4vh; 
  font-size: 20px; 
  padding-left: 20px; 
  border-radius: 5px 
}

.cities-header{
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid grey;
  background: rgb(250,232,228);
}

.cityCard-name {
  font-size: 40px;
  color: white;
}

.footerText-left{
  border-right: 2px solid white; 
  font-size: 30px; 
  padding-right: 10px;
  color: white
}

.footerText-right{
  padding-left: 10px; 
  font-size: 25px; 
  color:white;
}

.cities-header-responsive{
  display: none;
}



/* ITINERARIES CARD SECTION */

.itineraryCard-container {
  border: 1px solid rgb(194, 194, 194);
  width: 80vw;
  min-height: 40vh;
  margin: 10vh auto;
  background: rgb(255, 223, 228);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.data-container{
  /* background: rgb(144, 211, 144); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  /* width: 50%; */
}

.itinerary-tittle{
  margin-bottom: 30px;
}

.author-img {
  width: 100px;
  height: 100px;
  background: black;
  border-radius: 100%;
  background-position: center;
  background-size: cover;
}


.author-name{
  font-size: 30px;
}

.itinerary-data-container {
  display: flex;
  justify-content: space-between;
  width: px;
  align-items: center;
}

.price-container{
  display: flex;
  justify-content: space-around;
  align-items: top;
  min-width: 150px;
  /* margin-right: 10px !important; */
  /* background: green; */
}

.duration-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 250px;
  /* background: rgb(111, 146, 111); */
  font-size: 20px;
}

.likes-container {
  display: flex;
  align-items: center;
  /* background: rgb(121, 141, 121); */
}

.heart-icon:hover{
  cursor: pointer;
}

.hashtags-container{
  margin: 15px 0px 30px 0px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  /* background: rgb(255, 158, 158); */
  width: 400px;
}

.hashtag {
  margin-bottom: 0px;
  color: blue;
}

.hashtag:hover{
  cursor: pointer;
}

.linkToHome-container {
  /* background: red; */
  margin-top: 10vh;
  display: flex;
  justify-content: center;
}

.link-to-home {
  /* margin-left: 46%; */
  color: black;
  border: 4px solid black;
  font-size: 25px;
  border-radius: 6px;
  padding: 10px;
  transition: all .2s ease;
}

.link-to-home:hover{
  background: white;
  text-decoration: none;
  color: black;
}




@media (max-width: 1200px){

  .complete-carrousel{
    /* background: green; */
    display: none;
  }

  .responsive-carrousel {
    display: flex;
    /* background:red; */
    margin-top: 20vh;
  }

  .responsive-slide-container{
    display: flex;
    margin-right: 1vw;
  }

  .responsive-footer-container{
    display: block;
    height: 300vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .homeAndCities-container {
    display: flex;
    justify-content: center;
    /* background: green; */
    /* color: red; */
  }

  .login-section {
    display: flex;
    justify-content: center;
  }

  .invitacion-to-visit >h2 {
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
  }
  
  .invitacion-to-visit > p{
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
  }

  .main-input{
    font-size: 20px;
  }

  .welcome-to-itinerary {
    font-size: 35px;
  }

  .site-under-construction-container{
    width: 70vw;
    height: 70vh;
    margin-bottom: 0vh;
  }

  /* ItineraryCard */

  .itineraryCard-container {
    /* height: 45vh; */
  }

  .data-container{
    padding-top: 20px;
  }

  .itinerary-tittle{
    font-size: 25px;
    margin-bottom: 10px;
  }

  .author-img{
    width: 80px;
    height: 80px;
  }

  .author-name {
    font-size: 20px;
  }

  .itinerary-data-container {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    /* background: white; */
    /* border-radius: 10px; */
  }

  .collapse-section{
    height: 20vh;
  }
  .underConstruction-img{
    width: 40vw;
  }

}


@media (max-width: 900px) {

  .header{
    display: none;
  }

  .header-responsive{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .cities-header-responsive{
    height: 15vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid grey;
    background: rgb(250,232,228);
  }

  .logo-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 80px;
  }

  .logo-text {
    font-size: 15px;
  }

  .hero-container {
    height: 150px;
    display: flex;
    align-items: center;
  }

  .hero-text {
    font-size: 25px;
    text-align: center;
    /* padding: 0 25px; */
  }

  .ClickHere-button {
    display: flex;
    padding: 5px 10px;
    border: 4px solid black;
    border-radius: 10px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    transition: all .2s ease;
  }

  .plane-icon{
    display: none;
  }

  .callToAction-text {
    font-size: 25px;
    text-align: center;
  }

  .icon-container {
    margin: 0 auto;
  }

  .icon {
    width: 25px;
    margin-right: 10px;
  }

  .credits{
    font-size: 13px;
    display: none;
  }
  
  .map {
    display: none;
  }

  .new-callToAction>h2{
    font-size: 20px;
  }

  .new-callToAction>p{
    font-size: 20px;
  }
  
  .cities-header {
    display: none;
    /* display: flex; */
    justify-content: space-around;
    align-items: center;
  }

  .main-input {
    width: 200px;
  }

  .welcome-to-itinerary {
    font-size: 25px;
  }

  .no-match-text1{
    font-size: 35px;
  }
  
  .no-match-text2{
    font-size: 20px;
  }

}









@media (max-width: 600px) {
  .slide-container{
    width: 70vw;
    height: 70vh;
    position: relative;
    /* padding-bottom: 30vh; */
  }
  
  .card{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    margin-bottom: 20vh;
    display: flex;
    align-items: center;
  }

  .citiesPage-tittle{
    font-size: 30px;
    text-align: center;
  }

  .cityCard-name {
    font-size: 20px;
    color: white;
  }

  
  .main-input {
    width: 150px;
  }

  .footerText-left{
    font-size: 20px; 

  }
  
  .footerText-right{
    font-size: 15px; 
  }

  .no-match-text1{
    font-size: 25px;
  }
  
  .no-match-text2{
    font-size: 15px;
  }

  .itinerary-tittle {
    margin: 10px 0px 20px 0px;
  }

  .itinerary-data-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background: red; */
    height: 150px;
    margin-top: 20px;
    /* align-items: flex-start; */
    /* width: 100%; */
    /* align-items: center; */
    /* flex-wrap: wrap; */
    /* background: white; */
    /* border-radius: 10px; */
  }

  .hashtags-container{
    width: 400px;
    flex-wrap: wrap;
  }
  
  /* .collapse-section{
    height: 20vh;
  } */
  .underConstruction-img{
    /* height: 30vh; */
    width: 50vw;
  }
  
}


@media (max-width: 500px) {
  .hashtags-container{
    /* background: red; */
    height: 100px;
    flex-direction: column;
    align-items: center;
  }

}

@media (max-width: 350px) {
  .callToAction-text {
    font-size: 20px;
    text-align: center;
  }

  .hashtags-container{
    justify-content: space-around;
    width: 100%;
  }
  .underConstruction-img{
    /* height: 10vh; */
    width: 20vw;
  }
}


